#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body,html{
  width: 100%;
  background-color: rgb(221, 235, 239);
}
.signUp{
  background-color: #ffffff;
  box-shadow: 0 6px 15px 0px rgba(0, 0, 0, 0.173);
  color: black;
  border-radius: 20px;
  padding: 8px;
}